# 忽略所有临时文件
*.tmp

# csv文件上传一次即可
*.csv

__pycache__/
*.pyc

# 忽略日志文件
src/logs/

weights

experiments

# 忽略数据集文件
dataset/

# 忽略Python虚拟环境
venv/

.vscode/
.idea/
*.sublime-*

.env


